$green_light: #c2fabd;
$green_dark: #669461;

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(node_modules/material-icons/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"),
    url(node_modules/material-icons/iconfont/MaterialIcons-Regular.woff2) format("woff2"),
    url(node_modules/material-icons/iconfont/MaterialIcons-Regular.woff) format("woff"),
    url(node_modules/material-icons/iconfont/MaterialIcons-Regular.ttf) format("truetype");
}
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap");

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

a,
a:visited {
  color: $green_dark !important;
  text-decoration: none;
}

input {
  padding: 6px;
}

input[type="checkbox"],
input,
button,
select {
  border: none;
  background-color: #eee;
  border-radius: 6px;
}

body {
  font-family: "Roboto Mono", monospace;
  background-color: #c2fabd;
  margin: 0;
  padding-bottom: 64px;
  display: flex;
  flex-flow: column;
  align-items: center;
}

header {
  margin: 32px 0 16px 0;
  width: 100vw;
  display: flex;
  flex-flow: column;
  align-items: center;
  color: $green_dark;

  #title {
    font-size: 48px;
    font-weight: 600;

    @media (max-width: 600px) {
      font-size: 32px;
    }
  }

  #icons {
    font-size: 32px;
  }
}

.card {
  background-color: #fff;
  border-radius: 12px;
  padding: 16px;
  margin: 16px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

  display: flex;
  flex-flow: column;
  align-items: center;
  font-size: 12px;

  form {
    display: contents;
  }

  select {
    font-family: "Roboto Mono";
    font-size: 12px;
    width: 128px;
    height: 24px;
  }

  div {
    padding: 8px;
  }

  .separator {
    height: 1px;
    width: 100%;
    background-color: rgb(199, 199, 199);
    margin: 8px;
    padding: 0;
  }

  .inputMesure {
    width: 64px;
  }

  .inputPrecision {
    width: 32px;
  }

  button {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    background-color: #ddd;
    border-radius: 6px;
    padding: 4px 8px;
    font-family: "Roboto Mono", monospace;
    font-size: 12px;

    i {
      margin-right: 4px;
      font-size: 18px;
    }

    &:hover {
      background-color: #ddd;
    }

    &:active {
      background-color: #ccc;
    }
  }

  .filterItem {
    display: flex;
    align-self: flex-start;
    flex-flow: row;
    align-items: center;
    width: inherit;

    select,
    input {
      margin: 0 8px;
    }

    input {
      width: 48px;
    }
  }

  .center {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    * {
      margin: 0 16px;
    }
  }
}

#container {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

textarea {
  margin: 16px;
  user-select: none;
  font-family: "Roboto Mono", monospace;
  background-color: #223320;
  color: #fff;
  padding: 16px;
  border: none;
  border-radius: 12px;
  height: 100%;
  vertical-align: top;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

table {
  border-collapse: collapse;
  th,
  td {
    padding: 8px;
  }

  input {
    border: 1px solid #ccc;
    background-color: #fff;
  }

  tr:nth-child(even) {
    background-color: #eee;
    input {
      background-color: #eee;
    }
  }

  .measure {
    width: 40px;
    text-align: end;
  }

  .measuretd {
    padding-right: 0;
    padding-left: 16px;
  }

  .precision {
    width: 24px;
  }

  .icontd {
    width: 64px;
    i {
      margin-left: 18px;
    }

    .grey {
      color: #888;
    }

  }
}